<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1bTodSvwrYEBYsIsMVIW3MEfiz7zKl1M</string>
	<key>GCM_SENDER_ID</key>
	<string>555007478046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wearStoreApp</string>
	<key>PROJECT_ID</key>
	<string>data-61e35</string>
	<key>STORAGE_BUCKET</key>
	<string>data-61e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555007478046:ios:33bb08fc0311e8ca00e10f</string>
</dict>
</plist>